/* General styles */
html, body, #root {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  html, body, #root {
    flex-direction: column; 
    align-items: center;
  }
  .App {
    padding: 20px;
    width: 90%;
  }
}