/* General styles */
html, body, #root {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #282c34;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  width: 100%;
  background-color: #282c34;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 100px;
  border-radius: 50%;
}

/* Login Box */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-box {
  background-color: #094928;
  padding: 40px;
  border-radius: 8px;
  color: white;
  width: 300px;
}

.login-box h2 {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 7px;
  box-sizing: border-box; /* Ensures padding is included in the element's width */
}

/* Password Input Container */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  width: 100%;
  padding-right: 40px; /* Add some padding to make space for the eye icon */
  box-sizing: border-box; /* Ensures padding is included in the element's width */
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.2em;
  color: #333;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

.forgot-password {
  margin-top: 10px;
}

.forgot-password a {
  color: white;
  text-decoration: none;
}

.forgot-password a:hover {
  color: rgb(1, 2, 15);
}

.social-login {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.social-btn {
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  width: 50px;
  height: 50px;
}

.social-btn.google {
  background-color: #DB4437;
  color: white;
}

.social-btn.facebook {
  background-color: #4267B2;
  color: white;
}

.social-btn.apple {
  background-color: rgb(253, 253, 253);
  color: rgb(12, 0, 0);
}
