.App_Header {
    width: 100%;
    background-color: #282c34;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.commentItem {
    background-color: #242830;
    color: #fff;
    border-radius: 5px;
    padding: 10px; 
    margin: 5px 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 70em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .comment {
      margin: 10px;
    }
  
    .commentItem {
      width: 100%;
      flex-direction: column;
      padding: 10px;
      margin: 10px 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    }
  }
  