.dashboard
{
    background-color: #3138443d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    color: white;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 750px) {
    .dashboard {
      padding: 0.5em;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-right: 0;
      margin-bottom: 0;
      width: 100%;
    }
  }
  